.appDiv {
    width: 700px;
}

.display {
    height: 100px;
    background-color: gray;
    color: #fff;
    font-weight: 900;
    text-align: right;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.group {
    height: 100px;
    display: flex;
}

.btn {
    width: 25%;
    border: 1px solid #d1d1d1;
    align-items: center;
    justify-content: center;
    display: flex;
}

.btnWide {
    width: 50%;
    border: 1px solid #d1d1d1;
    align-items: center;
    justify-content: center;
    display: flex;
}