@import url('https://fonts.googleapis.com/css?family=Orbitron');
.appDiv {
    width: 700px;
    font-family: 'Orbitron', sans-serif;
}

.display {
    height: 100px;
    background-color: gray;
    border-radius: 3px;
    color: #fff;
    font-weight: 900;
    font-size: 3em;
    text-align: right;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.group {
    height: 100px;
    display: flex;
}

.btn {
    width: 25%;
    border: 1px solid #000;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.btnWide {
    width: calc(50% + 2px);
    border: 1px solid #000;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.btn:hover,
.btnWide:hover{
    background-color: rgb(148, 141, 141) !important;
}